* {
    font-family: Kanit;
    font-style: normal;
    line-height: 20px;
    letter-spacing: 0.8px;
}

header {
    padding-top: 20px;
    flex-shrink: 0;
    background: #000;
}

.shopping{
    position: relative;
}

.shopping::after{
    content: "0";
    position: absolute;
    background-color: red;
    border-radius: 50%;
    z-index: 1;
    width: 15px;
    height: 15px;
    top: 3px;
    right: 6px;
    text-align: center;
    color: #fff;
    font-size: 10px;
    line-height: 15px;
}

.navigation {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 10px;
    white-space: nowrap;
}

.logo {
    padding-top: 25px;
}

.text-left {
    margin-left: 10px;
}

.text-right {
    margin-right: 10px;
}

.call {
    margin: 0 10px;
    width: 16px;
    height: 15px;
    flex-shrink: 0;
}

.line {
    background: #494949;
    margin: 0 10px;
    width: 100%;
    height: 1px;
    margin-top: 30px;
}

.tab_link_active {
    color: #E6D090;
    margin: 0 10px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

.tab_link {
    margin: 0 10px;
    color: #ffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

.tab_link_active {
    padding: 20px 0;
    border-bottom: 1px solid #E6D090;
}

.header_tag {
    padding: 10px 0;
    margin: 0 -2px;
    text-align: center;
}

footer {
    background-color: #000;
    padding: 5% 0;
}

footer .grid {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px;
}

.colum1 {
    margin: 0 -12%;
}

.colum1>.logo {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.colum1>.textLogo {
    width: 32.786px;
    height: 32.552px;
    flex-shrink: 0;
}

.font {
    color: #ffff;
    text-align: center;
    font-size: 17px;
    font-family: Kanit;
    font-weight: 300;
}

footer .nameCompany {

    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 8% 0;
}

.comapyLocation {
    text-align: left;
}

.colum1>.phone {
    text-align: left;
    padding: 2% 0;
}

.colum1>.email {
    text-align: left;
}

.colum2>.font {
    text-align: left;
    margin-left: 20%;
}

.colum2>h2 {
    padding-bottom: 10%;
}

.colum2>img {
    padding-right: 20px;
}

.colum2 a {
    color: #ffff;
    text-decoration: none;
}

.colum2>.font>div {
    padding-bottom: 6%;
}

.logoShop {
    padding-right: 10px;
    padding-bottom: 10%;
}

.phone2 {
    padding-bottom: 10%;
    font-size: 27px;
}

.colum2>.hootline {
    padding-bottom: 0%;
}

.cpLeft {
    text-align: left;
    font-size: 14px;
    float: left;
}

.cpRight {
    text-align: right;
    font-size: 14px;
    float: right;
}

.copyright {
    background-color: #0D0D0D;
    padding: 1% 0;
    display: flex;
}

.cpRight>a {
    color: #ffff;
    text-decoration: none;
    padding: 0 10px;
}

#back-to-top {
    position: fixed;
    bottom: 10%;
    right: 10%;
    display: block;
}

.banner>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page-title {
    position: relative;
    padding: 15px 0;
}

.page-title::before {
    content: "";
    color: #333;
}

.page-title a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
}

.page-title a:hover {
    text-decoration: underline;
}


.grid {
    display: grid;
    gap: 10%;
    grid-template-columns: 1fr 1fr;
    padding: 10% 0;
}

.news1-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.news1 .col2 {
    padding: 10% 0;
}

.news1 h1 {

    color: #E1BD54;
    font-size: 60px;
    font-family: Kanit;
    font-weight: 300;
    line-height: 68px;
}

.news1 .description {
    color: #333;
    font-size: 15px;
    font-family: Kanit;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.75px;
    padding: 5% 0;
}

.loadMoreProduct {
    width: auto;
    height: 45px;
    background-color: #333333;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 30px;
    padding: 9px 21px;
}

.news2 {
    background-color: rgba(230, 208, 144, 0.15);
}

.news2 h2 {
    color: #333;
    font-size: 60px;
    font-family: Kanit;
    font-weight: 300;
    line-height: 68px;
    padding-bottom: 40%;
}

.news2 .img-product {
    padding-top: 10%;
    width: 100%;
    height: auto;
}

.news2-grid {
    display: grid;
    gap: 10%;
    grid-template-rows: 1fr 1fr;
    position: relative;
}



.column1-news2 .img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column1-news2>.grid1>.img-top::before {
    content: "";
    position: absolute;
    top: 20%;
    left: 33%;
    transform: translateY(-50%);
    height: 100%;
    width: 100%;
    background-image: url(../images/data/up.svg);
    background-repeat: no-repeat;
    z-index: 1;
}

.img-bottom {
    position: relative;
}

.column1-news2 .img-bottom::before {
    content: "";
    position: absolute;
    top: 175%;
    left: 33%;
    transform: translateY(-50%);
    height: 100%;
    width: 100%;
    background-image: url(../images/data/down.svg);
    background-repeat: no-repeat;
    z-index: 1;
}

.column1-news2 .grid1::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 10%;
    transform: translateX(-50%);
    height: 100%;
    width: 1px;
    border-left: 2px dashed #E1BD54;
    z-index: -2;
    opacity: 0.1;
}

.column1-news2 .grid1 {
    display: grid;
    gap: 10%;
    grid-template-columns: 1fr 3fr;
    /* Hình ảnh chiếm 1 phần, text chiếm 2 phần */
}

.column1-news2 .img {
    grid-column: 1 / span 1;
    /* Hình ảnh chiếm 1 phần */
}

.column1-news2 .content {
    grid-column: 2 / span 2;
    /* Text chiếm 2 phần */
}

.column1-news2 .content h3 {
    color: #333;
    font-size: 20px;
    font-family: Kanit;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

.column1-news2 .content .info {
    color: #333;
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.75px;
}

.news3 {
    padding: 5% 10%;
}

.news3 h1 {
    color: #E1BD54;
    text-align: center;
    font-size: 60px;
    font-family: Kanit;
    font-style: normal;
    font-weight: 300;
    line-height: 68px;
}

.news3 .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5%;
    position: relative;
}

.news3 .grid::after {
    position: absolute;
    content: "";
    background-image: url(../images/data/left.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: auto;
    width: 1%;
    height: 80%;
    top: 10px;
    left: -100px;
}

.news3 .grid::before {
    position: absolute;
    content: "";
    background-image: url(../images/data/right.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: auto;
    width: 1%;
    height: 80%;
    top: 10px;
    right: -100px;
}

.news3 .grid>.col2 {
    padding: 20% 0;
}

.news3 .year {
    color: #333;
    font-size: 40px;
    font-family: Kanit;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    padding-bottom: 10%;
}

.news3 p {
    color: #666;
    font-size: 15px;
    font-family: Kanit;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.75px;
}

.news3 .content {
    margin: 10% 0;
    position: relative;
    border-left: 2px solid #AEAEAE;
    padding-left: 10%;

}

.news3 img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.businessPartners {
    padding: 5% 10%;
    background-color: rgba(230, 208, 144, 0.10000000149011612);
}

.businessPartners h1 {
    color: #333;
    text-align: center;
    font-size: 60px;
    font-family: Kanit;
    font-style: normal;
    font-weight: 300;
    line-height: 68px;
    padding-bottom: 5%;
}

.businessPartners .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    gap: 5%;
    position: relative;
    padding: 0;
}

.businessPartners .grid::after{
    position: absolute;
    content: "";
    background-image: url(../images/data/left.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    width: 1%;
    height: 100%;
    top: 10px;
    left: -100px;
}

.businessPartners .grid::before{
    position: absolute;
    content: "";
    background-image: url(../images/data/right.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    width: 1%;
    height: 100%;
    top: 10px;
    right: -100px;
}
.businessPartners .grid> img{
    padding: 20% 0;
    width: 100%;
    height: auto; 
    margin: 0 auto;
}

